//All styles can be added here.
body, html {
  @apply w-full h-full
}
.hero-heading {
  @apply mb-10 text-4xl font-medium text-white;
}

.instructions {
  .sub-title {
    @apply mb-5 border-b-2 border-gray-400 pb-2 text-xl font-medium text-gray-900;

    & + p {
      @apply mb-3;
    }
  }
  .code {
    @apply block w-full rounded border bg-gray-100 px-4 py-5 font-mono text-sm leading-normal text-gray-700 shadow;

    &.pre {
      @apply whitespace-pre-wrap;
    }

    em {
      @apply opacity-75;
    }
  }
}

.social {
  @apply block pt-6 text-gray-700;

  a {
    @apply p-4 font-medium text-blue-500;

    &:hover {
      @apply text-blue-700;
    }
  }
}

// highlights

pre[class*="language-"] {
  color: #f8fafc;
  @apply max-w-2xl;
}

.token.class-name,
.token.function,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.module,
.token.tag {
  color: #f472b6;
}

.token.attr-name,
.token.important,
.token.keyword,
.token.pseudo-class,
.token.rule {
  color: #cbd5e1;
}

.token.attr-value,
.token.class,
.token.property,
.token.string {
  color: #7dd3fc;
}

.token.attr-equals,
.token.punctuation {
  color: #64748b;
}

.token.combinator,
.token.comment,
.token.operator {
  color: #94a3b8;
}

.language-css .token.function,
.token.unit {
  color: #99f6e4;
}

code[class*="language-"],
pre[class*="language-"] {
  word-wrap: normal;
  -webkit-hyphens: none;
  hyphens: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  background: rgba(29, 59, 83, 0.99);
  text-shadow: none;
}

code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  background: rgba(29, 59, 83, 0.99);
  text-shadow: none;
}

.token.cdata,
.token.comment,
.token.prolog {
  color: #94a3b8;
  font-style: italic;
}

.token.punctuation {
  color: #c792ea;
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.keyword,
.token.operator,
.token.tag {
  color: #f472b6;
}

.token.boolean {
  color: #ff5874;
}

.token.number {
  color: #f78c6c;
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: #f472b6;
}

.token.doctype,
.token.selector {
  color: #c792ea;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #addb67;
  font-style: italic;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.string,
.token.url {
  color: #7dd3fc;
}

.token.atrule,
.token.attr-value,
.token.class-name {
  color: #ffcb8b;
}

.token.important,
.token.regex,
.token.variable {
  color: #d6deeb;
}

// Social links btn

.social-links {
  button {
    @apply flex justify-center items-center px-5 py-3 rounded-md text-sm transition-easy;

    &:hover {
      @apply shadow-shadow-raised-hover
    }
  }
}
.login-divider {
  &::before ,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid;
    @apply border-gray-700;
  }
  &::after {
    margin-left: 10px;
  }
  &::before {
    margin-right: 10px;
  }
}
.btn {
  @apply min-w-120 text-sm px-5 py-3.5 text-white rounded-round font-bold;
  &.btn-primary {
    @apply bg-primary-blue border-primary-blue ;
    &:hover {
      @apply shadow-lg
    }
   }
   &.btn-link {
    @apply text-secondary-black-shade-1 p-0;
      &:hover {
        @apply underline text-gray-900 text-primary-blue
      }
   }
   &.btn-outline {
    @apply bg-transparent border-primary-blue text-primary-blue border;
    &:hover {
      @apply shadow-md
    }
   }
}
.form-controls ,
.select-dropdown {
  @apply bg-transparent rounded-none border-1 border-t-0 border-x-0 border-secondary-black-shade-1 block w-full text-gray-900 py-1.5 px-3;
  
  &:focus {
    @apply outline-none border-primary-blue;
  }
}
.textareas {
  @apply bg-transparent rounded-sm border-1 border-secondary-black-shade-1  block w-full text-gray-900 py-1.5 px-3;
  
  &:focus {
    @apply outline-none border-primary-blue;
  }
}
.form-check ,
.form-radio {
  @apply w-5 h-5 mr-1.5;

  &:checked {
    @apply bg-primary-blue border-primary-blue appearance-none
  }
}
.form-check {
  &:checked {
    @apply bg-checkbox
  }
}
.form-radio {
  @apply rounded-full;
  &:checked {
    @apply bg-radio;
  }
}
.form-toggle {
  @apply mr-1.5;
  @apply h-4 w-9 bg-circle rounded-60 appearance-none bg-no-repeat	bg-left-center border-1 p-1.5 ;
  &:checked {
    @apply bg-primary-blue border-primary-blue bg-right-center bg-white-circle;
  }
  &:hover:not(:disabled) {
    &:not(:checked) {
      @apply bg-blue-circle border-primary-blue
    }
  }
}
.header {
  nav {
    @apply border-1 border-t-0 border-x-0 border-secondary-black-shade-1 
  }
}



